* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    --bg-color-transparent: rgba(33, 177, 106, .53);
    --color-logo-green: rgba(33, 177, 106, 1);
    --color-logo-dark-green: #1b8e56;
    --color-gray: #f2f2f2;
    min-height: 100vh;
    position: relative;
}

a{
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: green;
}

li{
    list-style: none;
}