@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body {
    min-height: 100vh;
    background: rgba(33, 177, 106, 1);
    background-position: center;
    background-size: cover;
    position: relative;
}

.register h3{
    margin:  0 0 1em 0;
    font-size: 1.7em;
}
.cont--register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.cont-register .cont-df {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}
.register{
    padding: 0 3em;
    color: white;
    margin: 0;
    text-align: center;
    /*display: inline-block;*/
    /*width: 40%;*/
}
.redes{
    align-items: center;
    padding: 0;
    /*display: inline-block;*/
    /*width: 40%;*/
}

.input--register{
    display: flex;
}
.input--register input{
    width: 49%;
}
#inputApellido{
    margin:  0 0.4em 0 0;
}
figure{
    width: 15em;
    height: 17em;
}
figure img{
    width: 100%;
}
.form-submit{
    text-align: center;
}

.iconos{
    color: white;
}
.iconos .fa{
    font-size:  1.5em;
    color: white;
}


